<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd

		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd




		http://cxf.apache.org/jaxrs-client
		http://cxf.apache.org/schemas/jaxrs-client.xsd">

    <context:component-scan base-package="edu.project.test.struts.*"/>

    <bean id="jodaDateTimeObjectMapper" class="edu.project.test.struts.utils.CustomJodaDateTimeObjectMapper">
        <constructor-arg type="java.lang.String" value="dd-MM-yyyy"/>
    </bean>

    <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
        <constructor-arg ref="jodaDateTimeObjectMapper" type="com.fasterxml.jackson.databind.ObjectMapper"/>
    </bean>

    <util:list id="webClientProviders">
        <ref bean="jsonProvider"/>
    </util:list>

    <jaxrs-client:client id="personsWebClient" address="http://localhost:8080/persons"
                         serviceClass="org.apache.cxf.jaxrs.client.WebClient">
        <jaxrs-client:providers>
            <ref bean="webClientProviders"/>
        </jaxrs-client:providers>
        <jaxrs-client:headers>
            <entry key="Accept" value="application/json"/>
            <entry key="Content-Type" value="application/json"/>
        </jaxrs-client:headers>
    </jaxrs-client:client>

</beans>